/*******************
///////index.html///
*******************/
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: .6em;
  background: #1b3652;
}

/*******************
///////App.js///////
*******************/
.App {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  color: white;
  text-align: center;
  background: rgba(0,0,0,.25);
  border-radius: 10px;
  margin: 5px;
}

header > h1 {
  padding: 15px;
  margin: 0;
}

/*******************
////GlobalStats.js//
*******************/
.global {
  color: white;
  background-color: rgba(0,0,0,.25);
  width: 30%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

h3 {
  text-align: justify;
  padding: 5px 10px;
}

h3 > p {
  color: red;
  display: inline;
  padding-left: 5px;
}

/*******************
////CountryDD.js////
*******************/
.CountryDD {
  color: white;
  background-color: rgba(0,0,0,.25);
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.CountryDD > h3 {
  text-align: center;
}
select {
  padding: 5px;
  display: block;
  margin: 0 auto;
}
